

@{
    ViewBag.Title = "ManagerView";
    Layout = "~/Views/Shared/_ManagerLayout.cshtml";
}
<body style="background-color:burlywood">
    <section class="text-gray-600 body-font">
        <div class="container px-5 py-24 mx-auto">
            <div class="flex flex-wrap w-full mb-20">
                <div class="lg:w-1/2 w-full mb-6 lg:mb-0">
                    <h1 class="sm:text-3xl text-2xl font-medium title-font mb-2 text-gray-900">Manager's DashBord</h1>
                    <div class="h-1 w-20 bg-indigo-500 rounded"></div>
                </div>
                <p class="lg:w-1/2 w-full leading-relaxed text-gray-500">Here Managers are provided the options they will use! Notice:Thease Options are only available to the managers</p>
            </div>
        </div>
    </section>
    <section class="text-gray-600 body-font">
        <div class="container px-5 py-24 mx-auto">
            <div class="flex flex-col text-center w-full mb-20">
                <h2 class="text-xs text-indigo-500 tracking-widest font-medium title-font mb-1">DukoWheels</h2>
                <h1 class="sm:text-3xl text-2xl font-medium title-font mb-4 text-gray-900">Manager's DashBord</h1>
                <p class="lg:w-2/3 mx-auto leading-relaxed text-base">Managers are really importantat as they will manage the data of the cars and the users!</p>
            </div>
            <div class="flex flex-wrap">
                <div class="xl:w-1/4 lg:w-1/2 md:w-full px-8 py-6 border-l-2 border-gray-200 border-opacity-60">
                    <h2 class="text-lg sm:text-xl text-gray-900 font-medium title-font mb-2">Manage User</h2>
                    <p class="leading-relaxed text-base mb-4">Here you will have access to the user data and you will be able to manupulate it according to the need</p>
                    <a class="text-indigo-500 inline-flex items-center" href="/Manager/ViewAllUsers">
                        Manage
                        <svg fill="none" stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" class="w-4 h-4 ml-2" viewBox="0 0 24 24">
                            <path d="M5 12h14M12 5l7 7-7 7"></path>
                        </svg>
                    </a>
                </div>
                <div class="xl:w-1/4 lg:w-1/2 md:w-full px-8 py-6 border-l-2 border-gray-200 border-opacity-60">
                    <h2 class="text-lg sm:text-xl text-gray-900 font-medium title-font mb-2">Vehicle Management</h2>
                    <p class="leading-relaxed text-base mb-4">Here the manager will manage the data of the vehicles</p>
                    <a class="text-indigo-500 inline-flex items-center">
                        Manage
                        <svg fill="none" stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" class="w-4 h-4 ml-2" viewBox="0 0 24 24">
                            <path d="M5 12h14M12 5l7 7-7 7"></path>
                        </svg>
                    </a>
                </div>
                <div class="xl:w-1/4 lg:w-1/2 md:w-full px-8 py-6 border-l-2 border-gray-200 border-opacity-60">
                    <h2 class="text-lg sm:text-xl text-gray-900 font-medium title-font mb-2">Orders Management</h2>
                    <p class="leading-relaxed text-base mb-4">Here you will be able to manage the orders of the users reguarding the cars</p>
                    <a class="text-indigo-500 inline-flex items-center">
                        Manage
                        <svg fill="none" stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" class="w-4 h-4 ml-2" viewBox="0 0 24 24">
                            <path d="M5 12h14M12 5l7 7-7 7"></path>
                        </svg>
                    </a>
                </div>
                <div class="xl:w-1/4 lg:w-1/2 md:w-full px-8 py-6 border-l-2 border-gray-200 border-opacity-60">
                    <h2 class="text-lg sm:text-xl text-gray-900 font-medium title-font mb-2">Account Recovery</h2>
                    <p class="leading-relaxed text-base mb-4">In case is some losses ahis or her account you will be able to recover the account here</p>
                    <a class="text-indigo-500 inline-flex items-center" href="@Url.Action("ViewUsers")">
                        Manage
                        <svg fill="none" stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" class="w-4 h-4 ml-2" viewBox="0 0 24 24">
                            <path d="M5 12h14M12 5l7 7-7 7"></path>
                        </svg>
                    </a>
                </div>
            </div>

        </div>
    </section>
</body>




